
.grid-container {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 20px;
   }

   .grid-item {
       background-color: #fff;
       padding: 20px;

       cursor: pointer;
       transition: transform 0.3s;
   }

   .grid-item:hover {
       transform: scale(1.05);
   }

   .content {
       display: block;

       font-size: 0.9em;
       color: #555;
       text-align: justify;

   }

   .grid-item.active .content {
       display: block;
   }

   .grid-item h3 {
       margin: 0;
       font-size: 1.2em;
       color: #333;
   }

   .justify {
       text-align: justify;
       font-family: 'DejaVu Sans', Arial, sans-serif;
       font-size: 6px;
       /* Adjust the font size as needed */
       color: #000;
       /* Change the text color if needed */
   }

   .services {
       text-align: center;
   }

   .quote-right {
       margin-top: 10%;
   }

   .menu_dark+section {
       margin-top: 10px;
   }

   .guillement-fermant {
       position: absolute;
       font-size: 140px;
       color: #28c0ef;
       font-style: normal;
       font-family: "swanse";
       margin-top: 50px;

   }

   .container-valeur {
       display: flex;
       width: 80%;
       margin-left: 11%;

   }

   .value-box {
       background-color: #fff;
       padding: 20px;
       margin: 10px;
       text-align: center;
       width: 30%;
   }

   .value-box img {
       width: 100px;
       height: 100px;
       margin-bottom: 15px;

   }

   .value-box h3 {
       font-size: 1em;
       margin-bottom: 10px;
       color: #333;
   }

   .value-box p {
       font-size: 0.9em;
       color: #666;
       text-align: left;
       text-align: justify;
       font-family: Montserrat;


   }

   .navbar {
       width: 100%;
       justify-content: center;
   }

   .centered-nav {
       justify-content: center;
       width: 100%;
       list-style-type: none;
       padding: 0;
       margin: 0;
   }

   .center {
       width: 100%;
   }

   .navbar-nav {
       list-style: none;
       padding: 0;
       margin: 0;
       text-align: center;
       /* Centrer les éléments */
   }

   .navbar-nav>li {
       display: inline-block;
       position: relative;
       margin: 0 15px;
       /* Ajustez selon vos besoins */
   }



   .navbar-nav>li:not(:last-child)::after {
       content: "";
       position: absolute;
       right: -15px;
       /* Ajustez selon vos besoins */
       top: 15%;
       /* Positionnement pour centrer verticalement */
       height: 70%;
       /* Hauteur de la barre */
       border-right: 1px solid #dad7d7;
       /* Couleur de la barre */
   }

   .navbar-nav>li a {
       text-decoration: none;
       color: #000;
       padding: 0 10px;
   }

   .navbar-nav>li.active a {
       color: #007bff;
       /* Couleur pour l'élément actif */
   }

   /* Media query pour enlever les barres verticales en mode responsive */
   @media (max-width: 768px) {
       .navbar-nav>li:not(:last-child)::after {
           content: none;
       }
   }

   .container {
       max-width: 1200px;
       margin: 0 auto;
       padding: 20px;
   }

   .content {
       display: flex;
       flex-wrap: wrap;
   }

   .content .left-column {
       flex: 2;
       min-width: 250px;
       margin-right: 20px;
       line-height: 0.5;
       /* Adjust this value as needed */
   }

   .content .left-column p {

       line-height: 2;
       /* Adjust this value as needed */
   }



   .content .right-column {
       flex: 1;
       min-width: 250px;
       padding-left: 5%;
   }

   .right-column ul {
       list-style: none;
       padding: 0;
       line-height: 2;

   }

   .home_logo img {

       width: 100%;
       margin-left: 18vmin;
       margin-top: 2vmax;

   }


   .right-column ul li::before {
       content: "•";
       color: #333;
       font-weight: bold;
       display: inline-block;
       width: 1em;
       margin-left: -1em;
   }

   .right-column h3 {
       margin-top: 0;
       font-family: Montserrat;

   }

   .content p,
   .right-column li {
       margin-bottom: 10px;
       font-family: Montserrat;
       line-height: 1.5;


   }

   @media (max-width: 768px) {
       .content {
           flex-direction: column;
       }

       .content .left-column {
           margin-right: 0;
       }

       .container_about {
           padding-top: 15%;
       }

       .container-valeur {
           display: flex;
           flex-direction: column;
       }

       .value-box {
           background-color: #fff;
           padding: 20px;
           margin: 10px;
           text-align: center;
           width: 100%;
       }



       .card_service {
           width: 100%;
       }

       .container_service {
           flex-direction: column;
           display: flex;

       }


   }

   @media (max-width: 480px) {
       .container_service {
           flex-direction: column;
           display: flex;

       }

       .card_service {
           width: 100%;
       }
   }

   .citation {
       background-image: url('assets/images/j4r-echafaudage-slide1.jpg');
       /* Remplacez par le chemin de votre image */
       background-size: cover;
       background-position: center;
       color: white;

       /* Couleur du texte en blanc pour la lisibilité */

   }

   .container_about {
       width: 100%;
       margin-top: 2%;
   }

   .container_valeur_principale {
       width: 100%;
       margin-top: 2%;
   }

   .services {
       padding: 8%;
       text-align: center;
       font-size: 10px;

   }

   .services span {
       font-family: "Montserrat", sans-serif;
       color: white;
   }

   .container_description {
       max-width: 90%;
       margin: 0 auto;

   }

   .services_titre {
       padding: 8%;
       text-align: center;
       font-size: 10px;
       font-family: "Montserrat", sans-serif;


   }

   .bgImageBlue {
       background-image: url('assets/images/j4r-echafaudage-slide1.jpg');
       /* Remplacez par le chemin de votre image */
       background-size: cover;
       background-position: center;
       color: white;
       width: 100%;


   }

   .color_white {
       color: white;
   }

   .container_service {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       padding: 20px;
   }

   .card_service {
       text-align: center;
       width: 30%;
       margin-bottom: 20px;
   }

   .icon img {
       width: 100px;
       height: 100px;
   }

   .header_service {
       background-color: #f5f5f5;
       padding: 10px;
       cursor: pointer;
       font-weight: bold;
       font-family: "Montserrat", sans-serif;

   }

   .content_service {
       display: none;
       background-color: #f5f5f5;
       padding: 10px;
       margin-top: 10px;
       font-family: "Montserrat", sans-serif;

   }

   .main_title h2 {
       color: white;
   }

   .citation h2 {
       font-size: 30px;
       font-family: "Montserrat", sans-serif;
       font-weight: 400;

   }
