$width: 300px;
$color_background: #2b3a42;
$color_item: #9eb7c3;
$color_item_hilight: white;
$color_submenu_bg: #3a4d56;
$color_menu_icon_bg: #3a4d56;
$color_menu_icon_active: #38fbc7;
$color_border: #3a4d56;

$color_notification_time: #828282;
