span i {
    color: #0e4377;
}

.selected {
    border: 1px solid #006DAA !important;
    border-left-width: 5px !important;
}

.labels {
    font-size: 11px;
    color: #0d4377;
    font-weight: bold;
}

.bg-leasy {
    background: #e2e8ed;
    border-radius: 5px;
}

.bi {
    font-size: 1.5rem;
}

.template-lot {
    display: grid;
    grid-gap: 1rem;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: 2rem 6rem minmax(10rem, 1fr) 4rem 6rem 8rem 8rem 4rem 7rem 7rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    flex: 1 1 0%;
}

.css-1r30cbj {
    display: grid;
    grid-gap: 1rem;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: 2rem minmax(10rem, 1fr) 4rem 4rem 4rem 4rem 8rem 8rem 4rem 7rem 7rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    flex: 1 1 0%;
}

.css-1fnl9bt {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #D9E2EC;
    font-weight: 600;
    color: #fff;
    font-family: Lato, sans-serif;
    background: #0E4377;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.css-1ip68u7 {
    display: flex;
    border-bottom: 1px solid rgb(217, 226, 236);
    border-top-color: rgb(217, 226, 236);
    border-right-color: rgb(217, 226, 236);
    background-color: #D9E1F2;
    border-left: 2px solid #0E4377;
    margin-top: 5px;
}

.css-1ip68u77 {
    display: flex;
    border-bottom: 1px solid rgb(217, 226, 236);
    border-top-color: rgb(217, 226, 236);
    border-right-color: rgb(217, 226, 236);
    background-color: #fff;
    border-left: 2px solid #0E4377;
    margin-top: 5px;
}

.css-ccobzb {
    display: flex;
    border-bottom: 1px solid rgb(188, 204, 220);
    border-top-color: rgb(188, 204, 220);
    border-right-color: rgb(188, 204, 220);
    border-left-color: rgb(188, 204, 220);
    background-color: #8EA9DB;
    margin-top: 5px;
}

.tab-el-left {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.875rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
    min-height: 3.125rem;
    justify-content: center;
}

.tab-el-right {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    font-size: 0.875rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
    min-height: 3.125rem;
    text-align: right;
}

.main-devis > input {
    width: 100%;
    min-width: 0px;
    outline: transparent solid 2px;
    outline-offset: 2px;
    position: relative;
    appearance: none;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 200ms;;
    font-size: 1rem;
    padding-inline: 0px;
    height: 1.8rem;
    border-radius: 0px;
    background: #00000000;
    color: #486581;
    border-bottom-color: #00000000;
    opacity: 1;
    padding: 0;
    border: 0;
}

.sous-lot {
    margin-left: 0.5rem;
}

.organisation {
    width: 100%;
}

.organisation2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.organisation3 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    width: 15rem;
}

.ligne {
    opacity: 0.6;
    border-width: 0px 0px 1px;
    border-image: initial;
    border-color: inherit;
    border-style: solid;
    width: 100%;
    color: grey;
}

.lot-button {
    margin-inline: 0px;
    margin-bottom: 0px;
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: 0.25rem;
    font-weight: 600;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 200ms;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    background: #109cf1;
    color: #FFFFFF;
    width: 100%;
    font-family: Lato, sans-serif;
    border-color: inherit;
}

.ouvrage-button {
    margin-top: 1rem;
    margin-inline: 0px;
    margin-bottom: 0px;
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: 0.25rem;
    font-weight: 600;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 200ms;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    border: 1px solid currentcolor;
    color: #0D8CD9;
    background: transparent;
    width: 100%;
    font-family: Lato, sans-serif;
}

.svg {
    width: 12rem;
    height: 12rem;
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;
    color: currentcolor;
    vertical-align: middle;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.css-15nl7at {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: 0.25rem;
    font-weight: 600;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 200ms;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    background: none;
    width: min-content;
    opacity: 1;
    color: #109cf1;
    font-family: Lato, sans-serif;
    border-color: transparent;
    overflow-wrap: break-word;
}

.css-15nl7at:hover {
    color: #006DAA;
}

.css-gg4vpm {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.children {
    width: 98%;
    left: 2%;
    position: relative;
}

.children .elements .css-ccobzb {
    margin: inherit;
    background-color: #fff;
}

.children .elements .css-1ip68u7 {
    margin: inherit;
}
.children .elements .css-1ip68u77 {
    margin: inherit;
}

.context-menu {
    position: absolute;
    z-index: 10000;
    width: 150px;
    background: #0E4377;
    border-radius: 5px;
    right: 0;
}

.context-menu .item-menu {
    padding: 5px 6px;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
    border-radius: inherit;
    border-bottom: 1px solid;
}

.context-menu .item-menu:hover {
    background: #8ea9db;
}

.menu-lot:hover {
    cursor: pointer;
}

.menu-ouvrage:hover {
    cursor: pointer;
}

.composant:hover {
    cursor: pointer;
}

